@import "~antd/dist/antd.css";
.ant-layout-header.site-layout-background {
  background-color: #f0f2f5;
}

.logo {
  width: 140px;
  color: white;
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-layout {
  height: 100vh;
}
